<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "netlife.futar_dummy.v1.0"
        version   = "1.0.0">
    <name>Futár app Demo</name>

    <description>
        Demo futár app
    </description>

    <author href="http://netlife.hu" email="info@netlife.hu">
        Netlife Consulting
    </author>

    <gap:plugin name="com.phonegap.plugins.barcodescanner"/>

    <preference name="phonegap-version" value="3.6.3" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="webviewbounce"    value="false" />

    <icon src="res/icon/android/netlife_logo_430x430.png" />
    <icon src="res/icon/android/netlife_logo_430x430.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="res/icon/android/netlife_logo_430x430.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="res/icon/android/netlife_logo_430x430.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="res/icon/android/netlife_logo_430x430.png"  gap:platform="android"    gap:density="xhdpi" />


    <gap:splash src="res/screen/android/screen-ldpi-portrait.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />
	<access origin="*" subdomains="true"/>

    <!-- content src="http://www.w3.org/2010/05/video/mediaevents.html" / -->
</widget>
